/*

Tooplate 2119 Gymso Fitness

https://www.tooplate.com/view/2119-gymso-fitness

*/

  @font-face {
      font-family: 'Plain';
      src: url('../fonts/Plain-Regular.woff2') format('woff2'),
          url('../fonts/Plain-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Plain';
      src: url('../fonts/Plain-Light.woff2') format('woff2'),
          url('../fonts/Plain-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Plain';
      src: url('../fonts/Plain-Bold.woff2') format('woff2'),
          url('../fonts/Plain-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  }

  :root {
    --primary-color:        #ffffff;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --about-bg-color:       #f9f9f9;

    --gray-color:           #909090;
    --link-color:           #404040;
    --p-color:              #666262;

    --base-font-family:     'Plain', sans-serif;
    --font-weight-bold:     bold;
    --font-weight-normal:   normal;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         22px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100%;
    --border-radius-small:  2px;
  }


  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
    width: 100%;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-weight-thin);
    line-height: normal;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -2px;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    margin: 0;
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  h5 {
    font-size: var(--h5-font-size);
  }

  h6 {
    color: var(--gray-color);
    font-size: var(--h6-font-size);
    line-height: inherit;
    margin: 0;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    line-height: 1.5em;
  }

  b, 
  strong {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
  }

  .section {
    padding: 7rem 0;
  }


  /* BUTTON */

  .custom-btn {
    background: transparent;
    border-radius: var(--border-radius-small);
    padding: 14px 24px;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: var(--primary-color);
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn.bordered:hover,
  .custom-btn.bordered:focus,

  .custom-btn.bg-color:hover,
  .custom-btn.bg-color:focus {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
  }

  .bordered {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .bg-color {
    background: var(--primary-color);
    color: var(--white-color);
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a:hover, 
  a:active, 
  a:focus {
    color: #D4AF37;
    outline: none;
    text-decoration: none;
  }


  /* BG OVERLAY */

  .bg-overlay {
    background: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }


  /*---------------------------------------
     MODAL              
  -----------------------------------------*/

  .modal-content {
    padding: 2rem 3rem;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border: 0;
    padding: 0;
  }

  .membership-form a {
    color: var(--white-color);
  }


  /*---------------------------------------
    FEATURE          
  -----------------------------------------*/

  .feature {
    background: #03989E;
    padding: 5rem 0;
  }
  .feature p{
    color: rgb(221, 220, 217);
  }
.service_card{
  width: 60px;
  transform: translateY(-30px);
  opacity: 0.6;
}

  /*---------------------------------------
     MENU             
  -----------------------------------------*/

  .navbar {
    background: #03989E;
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100vw;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    padding-top: 0;
  }

  .nav-item .nav-link {
    display: block;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    padding: 2px 6px;
  }

  .nav-item .nav-link.active{
    font-weight: bolder;
    color: #eedf6f;
      }
  .nav-item .nav-link:hover {
    font-weight: bolder;
    border-bottom: 2px solid #ffffff;
  }

  .navbar .social-icon li a {
    color: var(--white-color);
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--primary-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--primary-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }
  #home{
    background: url("../images/class/tokiowalpaper.jpg");
    background-repeat: no-repeat;
background-size:100% 100%;
  }
  .portfolio{
    background-image: linear-gradient(180deg, #03989E,#FFFFFF);
  }
#portfolio .owl-stage-outer{
  height: 300px;
}
#portfolio .owl-stage{
  height: 300px;
}
#portfolio .owl-item{
  /* margin: 0 50px 0 50px; */
  width: 14% !important;
  height: 100%;
}
#portfolio .owl-item .item{
  /* margin: 0 50px 0 50px; */
  width: 100% !important;
  height: 300px;
}
#portfolio .owl-item .item iframe{
  background-image: url('../images/class/YouTube.jpg');
  background-size: 100%;
  width: 100%;
  height: 90%;
}
.prevnext{
  position: absolute;
  z-index: 23;
  transform: translateY(100px);
  overflow: hidden;
}
#prevbutton{
  border: 2px solid #03989E !important;
padding: 30px 20px 30px 40px;
transform: translateX(-40px);
border-radius: 50%;
background-color: white;
} 
#nextbutton{
  border: 2px solid #03989E !important;
transform: translateX(40px);
padding: 30px 40px 30px 20px;
  border-radius: 50%;

}
  /*---------------------------------------
     HERO              
  -----------------------------------------*/
  #contact{
    padding-top: 60px;
    overflow: hidden;  
    background: #03989E;
    padding: 7rem 0 0 0;
  }
  .hero {
    /* background-image: url('../images/tokyo.jpg'); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
    width: 100%;
height: 80vh;
overflow: hidden;  
  }
.input_app{
  border:0;
  width: 100%;
  border-bottom: 2px solid #03989E;
  padding: 10px;
}
.sendEmail{
  background: #03989E;
  color: white;
  border:2px solid white;
  padding: 4px 10px 4px 10px;
  border-radius: 12px; 
}

  /*---------------------------------------
     CLASS               
  -----------------------------------------*/
  .service {
    background-image: linear-gradient(180deg,#F8F9FA, #03989E);
  }
    .class-thumb:nth-child(1){
    max-width: 270px;
    background-image: url("../images/class/smm.png");
    width: 100%;
    min-height: 280px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color:rgb(255, 255, 254);
  }
  .class-thumb:nth-child(2){
    max-width: 270px;
    background-image: url("../images/class/smm.png");
    width: 100%;
    min-height: 280px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color:rgb(255, 255, 255);
  }
  .class-thumb:nth-child(3){
    max-width: 270px;
    background-image: url("../images/class/smm.png");
    width: 100%;
    min-height: 280px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color:rgb(255, 255, 255);
  }
  .class-thumb:nth-child(4){
    max-width: 270px;
    background-image: url("../images/class/smm.png");
    width: 100%;
    min-height: 280px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color:rgb(255, 255, 255);
  }
  .class-info a{
    color: rgb(255, 255, 255);
    padding: 50px 90px 50px 90px;
    background-color:rgba(3,152,158,0.3)
  }
  .blog_index a{
    color: white;
    margin-right: 4px;
    margin-left: 4px;
  }
  .blog_index a:hover{
color: #dbb844;
  }
  .blog_img{
    width: 100%;
    height: 200px;
    max-height: 200px;
  }
  .blog_index span{
    color: rgb(235, 5, 5);
  }
  .blog_card div a{
    color: white;
    border: 1px solid white;
    padding: 3px;
    border-radius: 3px;
  }
  .blog_card div a:hover{
    color: #D4AF37;
    border: 1px solid #D4AF37;
  }
  .blog_card div:nth-child(2){
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    color: white;
  }
  .blog_card div:nth-child(3){
    box-sizing: border-box;
    padding: 10px 0 20px 20px;
    color: white;
  }
  .blog_card div:nth-child(1){
    padding: 0;
  }
  @media only screen and (max-width: 768px) {
    .employee .item{
      width: 28%;
    }
    .blog_card {
      width: 80%;
    }
  }
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
    .employee .item{
      width: 22%;
    }
    .blog_card {
      width: 40%;
    }
  }
  @media only screen and (min-device-width : 1025px) and (max-device-width : 1920px) {
    .employee .item{
      width: 14%;
    }
    .blog_card {
      width: 30%;
    }
  }
  .class-info {
    position: absolute;
    bottom: 0px;
    background-color:rgba(3,152,158,0.3) ;
    max-width: 270px;
    width: 100%;
    padding-top: 300px;
    min-height: 340px;
    text-align: center;
    height: 200px;
    transition: height 1s, transform 1s;
  }
  .class-info:hover{
    transform: translateY(-50px);
    color: white;
    background: transparent;
  }
  .class-info img {
    border-radius: 2px 2px 0 0;
  }

  .class-info strong {
    color: var(--gray-color);
  }

  .class-price {
    background: var(--primary-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-weight: var(--font-weight-bold);
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }


  /*---------------------------------------
     SCHEDULE             
  -----------------------------------------*/

  .schedule {
    background-color: #03989E !important;
  }

  .schedule-table {
    display: table;
    border: 0;
    text-align: center;
  }

  .schedule-table strong,
  .schedule-table span {
    display: block;
    text-align: center;
  }

  .schedule-table strong {
    color: var(--white-color);
  }

  .schedule-table span {
    color: var(--gray-color);
  }

  .schedule-table span,
  .schedule-table small {
    font-size: var(--menu-font-size);
    text-transform: uppercase;
  }

  .schedule-table small {
    position: relative;
    top: 10px;
  }

  .table .thead-light th,
  .schedule-table tr td:first-child {
    background: var(--primary-color);
    border: 1px solid #212122;
    color: var(--white-color);
  }

  .schedule-table .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
  }

  .table-bordered td, 
  .table-bordered th {
    border: 1px solid #212122;
  }

  .table-bordered td {
    padding-bottom: 22px;
  }

  .table td, .table th {
    padding: 1rem;
  }


  /*---------------------------------------
      ABOUT & TEAM            
  -----------------------------------------*/

  .about {
    background: var(--about-bg-color);
  }

  .about-working-hours {
    padding-left: 3.5rem;
    width: 100%;
    height: 100%;

  }

  .about-working-hours strong {
    color: var(--white-color);
    opacity: 0.85;
  }
  .sertificate-show{
    color: rgb(255, 255, 255);
    width: 50%;
  }
  .sertificate-show:hover{
    color: #D4AF37;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  .team-thumb {
    position: relative;
  }

  .team-info {
    background: var(--white-color);
    border-radius: 0 0 2px 2px;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    padding: 20px;
    position: relative;
  }

  .team-info span {
    font-weight: var(--font-weight-light);
    opacity: 0.85;
  }

  .team-info .social-icon {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .team-info .social-icon li {
    display: block;
  }


  /*---------------------------------------
     CONTACT              
  -----------------------------------------*/

  .webform input,
  button#submit-button {
    height: calc(2.25rem + 20px);
  }

  .form-control {
    border-radius: var(--border-radius-small);
    margin: 1.3rem 0;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: var(--dark-color);
  }

  button#submit-button {
    background: var(--dark-color);
    border-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button#submit-button:hover {
    background: var(--dark-color);
  }

  .contact h2 + p {
    max-width: 90%;
  }

  .google-map {
    border-top: 1px solid #efebeb;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }

  .google-map iframe {
    width: 100%;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  .site-footer {
    border-top: 1px solid #efebeb;
    padding: 3rem 0;
    background-color: #03989E;
  }

  .site-footer a {
    color: var(--p-color);
    font-weight: var(--font-weight-light);
  }

  .site-footer p {
    font-size: var(--base-font-size);
  }

  .contact .fa,
  .site-footer .envelope {
    color: var(--primary-color);
  }

#ourPortfolio{
  box-sizing: border-box;
}
#ourPortfolio .item{
  height: 235px;
padding: 10px;
}
#ourPortfolio .item iframe{
  width: 100%;
  height: 100%;
padding: 10px;
}
  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/
#myVideo{
    position: absolute;
width: 100%;
z-index: -2;
}
  .social-icon {
    position: relative;
    padding: 0;
    margin: 5px 0 0 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li .fa-facebook {
    padding: 8px 12px 8px 12px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    color: #1f2bd1;
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
    margin: 5px 10px;
    text-align: center;
  }
  .social-icon li .fa-telegram {
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    color: #289fee;
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
    margin: 5px 10px;
    text-align: center;
  }
  .social-icon li .fa-instagram {
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    color: #833AB4;
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
    margin: 5px 10px;
    text-align: center;
  }
  .social-icon li a:hover {
    color: #D4AF37;
  }


  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 992px) {

    .section {
      padding: 5rem 0;
    }

    .nav-item .nav-link {
      padding: 6px;
    }

    .navbar .social-icon {
      margin-top: 22px;
    }

    .navbar-collapse,
    .site-footer {
      text-align: center;
    }

    .schedule-table {
      display: block;
    }

    .modal-content {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 767px) {

    h1 {
      font-size: 38px;
    }

    .about-working-hours {
      border-left: 0;
      padding: 22px 0 0 0;
    }

    .contact h2 span {
      display: block;
    }
  }